@import "../../public/assets/styles/variables";
.img-wrapper {
    position: relative;
    cursor: pointer;
    max-height: 370px;
    overflow: hidden;
    transition: ease .5s;
    .img-card {
        width: 300px;
    }
    &:hover{
    opacity: .75;
    }
}

.original-price {
    color: $gray;
}

.price{
 color: $orange;
}   
